@import url("hk-pyg.css"); 
/* for syntax highlighting */

/* Put your custom style modifications here: */


        #content {
            word-wrap: break-word!important;
        }


        #content pre > code{
            word-wrap: normal!important;
            overflow-x: auto!important;
            white-space:pre!important;
        }

        p > code, li > code{
            word-wrap: break-word!important;
            white-space:pre!important;
        }

        #editor {
          height: 400px;
          width: 100%;
          border: 1px solid #ddd;
          /*border-radius: 4px;*/
          /*font-size: 14px;*/
          /*font-family: Monaco, "Liberation Mono", Courier, monospace;*/
        }
        #editedText {
          visibility: hidden;
          display: none;
        }

        div#categoryList {
            padding: 0em;
            padding-top: 10px;
            margin: 1em 0 0 0;
            border: 1px dashed #ccc;
        }

        #categoryList > ul:before{
            content: 'Categories: ';
            font-size: 153.9%;
            font-weight: bold;
            line-height: 30px;
        }

        #maincol > ul > li{
            margin-bottom: 5px!important;
        }

        #mobile-navi{
            clear: both;
        }

        #mobile-navi-tabs {
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        #mobile-navi-tabs > li {
            float: left;
            margin-bottom: -1px;
        }
        #mobile-navi-tabs > li > a {
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            display: block;
            margin-right: 2px;
            padding: 10px 15px;
            position: relative;
        }
        #mobile-navi-tabs > li.selected > a {
            border-color: #428bca #428bca #fff;
            color: #000;
        }

        #mobile-navi-tabs > li.mobile-navi-item{
                margin-right: 5px;
        }

        #mobile-navi-tabs > li.mobile-navi-item > a{
                padding: 5px 5px!important;
                background-color: #f5f5f5 !important;
        }

    /*For fixed navbar */
    body{
        /*padding-top: 95px;*/
    }

    nav#header-navbar{
        padding-top: 10px;

    }

    #TOC{
        float: right;
    }

    #header-navbar-collapse>.navbar-nav>li>a:hover, #header-navbar-collapse>.navbar-nav>li>a:focus {
        text-decoration: none!important;
        background-color: #eee!important;
    }

    a.scrollup{
        display: inline;
        /*width: 40px;*/
        height: 40px;
        position: fixed;
        bottom: 80px;
        right: 20px;
        background-size: 40px;
        z-index:9999;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    border-bottom: 1px solid #ECEAEA;
    padding-bottom: 5px;
}

blockquote {
    padding: 5px 20px;
    margin: 0px 0 10px;
    font-size: 90%;
    border-left: 5px solid #eee;
}
#content img{
    max-width: 100%;
}



/*==========site.css=========*/
body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  /*max-width: 600px;*/
  /*margin: 0 auto;*/
  /*padding-top: 50px;*/
  -webkit-font-smoothing: antialiased;
  /*font-size: 1.125em;*/
  color: #333;
  /*line-height: 1.5em;*/
}

div.container-fluid {
  /*background-image: url('images/labkit.jpg');*/
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

/*div.labkit-home-img {*/
  /*position: relative;*/
  /*background-image: url("/images/labkit.png");*/
  /*background-size:10% 100%;*/
  /*padding: 0px 0px ;*/
  /*text-align: center;*/
  /*width:100%;*/
  /*height: auto;*/
/*}*/
/**/
/*img { width:100%; height: auto; }*/


.bs-masthead {
  color: #cdbfe3;
  /*background-color: #563d7c;*/
  background-color: #010485;
  background-size:100% auto;

  /*background: #010485 url('/images/labkit.png')  no-repeat;*/
  background-image:  url('../images/labkit.png')  ;
  background-repeat: no-repeat;

}
